 <div class="se_vii py_xl" id="resume">
<div class="container">
<div class="cont">
	<div class="slider2"></div>
	<ul class="nav"></div>
	<div data-target='right' class="side-nav side-nav--right"></div>
	<div data-target='left' class="side-nav side-nav--left"></div>
</div>
</div>
</div>