
 <!DOCTYPE html>
 <html lang="en">
  
<head>
    
    <!-- stylesheet -->
 
    <!-- title -->
    <title>Idesign</title>
  </head>
 <body data-spy="scroll" data-target="#scrollspy_bar" data-offset="0">

<div class="mouse-cursor cursor-outer" style="visibility: visible; transform: translate(1058px, 199px);"></div>
<div class="mouse-cursor cursor-inner" style="visibility: visible; transform: translate(1058px, 199px);"></div>
  <!-- SCROLLSPY -->
  <div class="scrollspy_bar fixed-top" id="scrollspy_bar">
    <ul class="list-unstyled d-inline-flex align-items-start flex-column justify-content-between h-100">
      <!-- item-->
      <li>
        <!-- link -->
        <a href="#home" class="main_point nav-link d-flex align-items-center justify-content-start p-0">
          <span class="num d-inline-flex">01</span>
          <span class="dot d-inline-flex"></span>
          <span class="name d-inline-flex">Home</span>
        </a>
        <div class="small_group d-flex flex-column justify-content-center">
          <!-- small link -->
          <a href="#se_i" class="small_point nav-link p-0"></a>
        </div>
      </li>
      <!-- item-->
      <li>
        <!-- link -->
        <a href="#about_me" class="main_point nav-link d-flex align-items-center justify-content-start p-0 active">
          <span class="num d-inline-flex">02</span>
          <span class="dot d-inline-flex"></span>
          <span class="name d-inline-flex">About Me</span>
        </a>
        <div class="small_group d-flex flex-column justify-content-center">
          <!-- small link -->
          <a href="#se_iii" class="small_point nav-link p-0"></a>
          <!-- small link -->
          <a href="#se_iv" class="small_point nav-link p-0"></a>
          <!-- small link -->
          <a href="#se_v" class="small_point nav-link p-0"></a>
        </div>
      </li>
      <!-- item-->
      <li>
        <!-- link -->
        <a href="#portfolio" class="main_point nav-link d-flex align-items-center justify-content-start p-0 active">
          <span class="num d-inline-flex">03</span>
          <span class="dot d-inline-flex"></span>
          <span class="name d-inline-flex">Portfolio</span>
        </a>
      </li>
      <!-- item-->
      <li>
        <!-- link -->
        <a href="#resume" class="main_point nav-link d-flex align-items-center justify-content-start p-0 active">
          <span class="num d-inline-flex">04</span>
          <span class="dot d-inline-flex"></span>
          <span class="name d-inline-flex">Resume</span>
        </a>
      </li>
      <!-- item-->
      <li>
        <!-- link -->
        <a href="#contact" class="main_point nav-link d-flex align-items-center justify-content-start p-0 active">
          <span class="num d-inline-flex">05</span>
          <span class="dot d-inline-flex"></span>
          <span class="name d-inline-flex">Contact</span>
        </a>
      </li>
    </ul>
  </div>

  <!-- MAIN -->
  <main class="ml-auto">

    <!-- HOME SECTION -->
    <div class="home_se theme_section position-relative text-md-left text-center" id="home" data-parallax="scroll" data-image-src="<%= image_path "bg/01.png"%>">
      <div class="container">
        <!-- text -->
        <div class="text">
          <h1 class="mb-2">Your next<br>Interactive<br>Experience.</h1>
          <!-- space -->
          <div class="py-md-3 py-2"></div>
          <div>
            <a href="#" class="theme_btn_sh3 text-capitalize">View portfolio <%= image_tag "icons/right.svg", class:"icon img-fluid ml-1", alt:"icon"%></a>
          </div>
        </div>
      </div>
    </div>

    <!-- SECTION I -->
    <div class="se_i theme_section dark_bg text-md-left text-center" id="se_i">
      <div class="container">
        <!-- row -->
        <div class="row">
          <!-- col -->
          <div class="col-lg-4 col-md-6">
            <!-- box -->
            <div class="box py-md-4 py-0 pt-4">
              <h2 class="mb-2">Interior</h2>
              <p class="mb-0">I blew a little magic to make<br>static designs work without coding.</p>
            </div>
          </div>
          <!-- col -->
          <div class="col-lg-4 col-md-6">
            <!-- box -->
            <div class="box py-4">
              <h2 class="mb-2">Interaction</h2>
              <p class="mb-0">I blew a little magic to make<br>static designs work without coding.</p>
            </div>
          </div>
          <!-- col -->
          <div class="col-lg-4 col-md-6">
            <!-- box -->
            <div class="box py-md-4 py-0 pb-4">
              <h2 class="mb-2">Illustration</h2>
              <p class="mb-0">I blew a little magic to make<br>static designs work without coding.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- SECTION II -->
    <div class="se_ii theme_section text-md-left text-center" id="about_me" data-parallax="scroll" data-image-src="assets/images/bg/02.png" data-speed=".4">
      <div class="container">
        <!-- row -->
        <div class="row">
          <!-- col -->
          <div class="col-lg-7 col-md-9 ml-auto">
            <!-- text -->
            <div class="text">
              <!-- title -->
              <div class="se_title">
                <h3 class="mb-1">About me</h3>
                <h2 class="mb-lg-3 mb-0 text-uppercase">Graphic Designer<br>&amp; UI+UX Designer.</h2>
              </div>
              <p class="mb-5">Hey! My name is Emaa Paul I started my career in 2012 since then. I've reached #1 non the App Store and won a So(cial)Good Award. Now I'm a Digital Art Director at NiftyTheme. Creating websites and apps that are simple. beautiful and easy to use.</p>
              <!-- links container -->
              <div class="links_cont position-relative d-md-flex align-items-center justify-content-start pt-1">
                <a href="#" class="theme_btn_sh3 mr-md-2 mb-md-0 mb-2">Download CV<img src="assets/images/icons/download.svg" class="icon img-fluid ml-1" alt="icon"></a>
                <!-- bar -->
                <span class="bar d-md-block d-none"></span>
                <!-- social links -->
                <ul class="social_links list-unstyled mb-0 ml-md-2 d-flex align-items-center justify-content-md-start justify-content-center">
                  <li class="mr-1"><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                  <li class="mr-1"><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                  <li class="mr-1"><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                  <li class="mr-1"><a href="#" target="_blank"><i class="fab fa-behance"></i></a></li>
                  <li><a href="#" target="_blank"><i class="fab fa-dribbble"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- SECTION III & IV & V -->
    <div data-parallax="scroll" data-image-src="assets/images/bg/03.png">
      <!-- SECTION III - SERVICES SECTION -->
      <div class="se_iii py_xl" id="se_iii">
        <div class="container">
          <!-- title -->
          <div class="se_title">
            <h5 class="mb-1">Services i offer to my clients</h5>
            <h4 class="mb-3 text-uppercase">My Services</h4>
          </div>
          <!-- space -->
          <div class="space_sm"></div>
          <!-- row -->
          <div class="row text-md-left text-center">
            <!-- col -->
            <div class="col-lg-4 col-md-6 mb-2">
              <!-- box -->
              <div class="box">
                <!-- icon -->
                <img src="assets/images/icons/popular.svg" class="icon img-fluid mb-3" alt="icon">
                <!-- title -->
                <h5 class="title mb-2">Design trends</h5>
                <p class="mb-0">ist skills/technologies here. You can change the icon above to any of the 1500+ FontAwesome 5 free icons available. Aenean commodo ligula eget dolor.</p>
              </div>
            </div>
            <!-- col -->
            <div class="col-lg-4 col-md-6 mb-2">
              <!-- box -->
              <div class="box">
                <!-- icon -->
                <img src="assets/images/icons/layer.svg" class="icon img-fluid mb-3" alt="icon">
                <!-- title -->
                <h5 class="title mb-2">3D Illustration</h5>
                <p class="mb-0">ist skills/technologies here. You can change the icon above to any of the 1500+ FontAwesome 5 free icons available. Aenean commodo ligula eget dolor.</p>
              </div>
            </div>
            <!-- col -->
            <div class="col-lg-4 col-md-6 mb-2">
              <!-- box -->
              <div class="box">
                <!-- icon -->
                <img src="assets/images/icons/youtube.svg" class="icon img-fluid mb-3" alt="icon">
                <!-- title -->
                <h5 class="title mb-2">Video editing</h5>
                <p class="mb-0">ist skills/technologies here. You can change the icon above to any of the 1500+ FontAwesome 5 free icons available. Aenean commodo ligula eget dolor.</p>
              </div>
            </div>
            <!-- col -->
            <div class="col-lg-4 col-md-6 mb-md-0 mb-2">
              <!-- box -->
              <div class="box">
                <!-- icon -->
                <img src="assets/images/icons/chair.svg" class="icon img-fluid mb-3" alt="icon">
                <!-- title -->
                <h5 class="title mb-2">Interior design</h5>
                <p class="mb-0">ist skills/technologies here. You can change the icon above to any of the 1500+ FontAwesome 5 free icons available. Aenean commodo ligula eget dolor.</p>
              </div>
            </div>
            <!-- col -->
            <div class="col-lg-4 col-md-6 mb-md-0 mb-2">
              <!-- box -->
              <div class="box">
                <!-- icon -->
                <img src="assets/images/icons/slow-motion.svg" class="icon img-fluid mb-3" alt="icon">
                <!-- title -->
                <h5 class="title mb-2">Motion effects</h5>
                <p class="mb-0">ist skills/technologies here. You can change the icon above to any of the 1500+ FontAwesome 5 free icons available. Aenean commodo ligula eget dolor.</p>
              </div>
            </div>
            <!-- col -->
            <div class="col-lg-4 col-md-6">
              <!-- box -->
              <div class="box">
                <!-- icon -->
                <img src="assets/images/icons/3d.svg" class="icon img-fluid mb-3" alt="icon">
                <!-- title -->
                <h5 class="title mb-2">Logo design</h5>
                <p class="mb-0">ist skills/technologies here. You can change the icon above to any of the 1500+ FontAwesome 5 free icons available. Aenean commodo ligula eget dolor.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- SECTION IV - TESTIMONIALS -->
      <div class="se_iv pb_xl" id="se_iv">
        <div class="container">
          <!-- title -->
          <div class="se_title">
            <h5 class="mb-1">What my clients think about me</h5>
            <h4 class="mb-3 text-uppercase">Testimonials</h4>
          </div>
          <!-- space -->
          <div class="space_sm"></div>
          <!-- slider container -->
          <div class="slider_container">
            <!-- slider -->
            <div class="slider mb-2" id="se_iv_slider">
              <!-- item -->
              <div class="item position-relative">
                <!-- text -->
                <p class="item_text mb-3">I am an expert in web development and design. So far in the last couple of months I couldn't ask for better! Services are on spot, uptime is on spot! I have everything I need right where it is with a API.</p>
                <!-- user info -->
                <div class="user_info d-flex align-items-center">
                  <!-- avatar -->
                  <img src="assets/images/media/01.jpg" class="item_avatar mr-1 img-fluid" alt="user">
                  <!-- details -->
                  <div class="details">
                    <!-- name & url -->
                    <a href="#" class="user_name d-inline-flex">Osama Bakri</a>
                    <!-- job -->
                    <p class="user_job mb-0">Web Developer</p>
                  </div>
                </div>
              </div>
              <!-- item -->
              <div class="item position-relative">
                <!-- text -->
                <p class="item_text mb-3">I am an expert in web development and design. So far in the last couple of months I couldn't ask for better! Services are on spot, uptime is on spot! I have everything I need right where it is with a API.</p>
                <!-- user info -->
                <div class="user_info d-flex align-items-center">
                  <!-- avatar -->
                  <img src="assets/images/media/02.jpg" class="item_avatar mr-1 img-fluid" alt="user">
                  <!-- details -->
                  <div class="details">
                    <!-- name & url -->
                    <a href="#" class="user_name d-inline-flex">Hugh Nigel</a>
                    <!-- job -->
                    <p class="user_job mb-0">Backend Developer</p>
                  </div>
                </div>
              </div>
              <!-- item -->
              <div class="item position-relative">
                <!-- text -->
                <p class="item_text mb-3">I am an expert in web development and design. So far in the last couple of months I couldn't ask for better! Services are on spot, uptime is on spot! I have everything I need right where it is with a API.</p>
                <!-- user info -->
                <div class="user_info d-flex align-items-center">
                  <!-- avatar -->
                  <img src="assets/images/media/03.jpg" class="item_avatar mr-1 img-fluid" alt="user">
                  <!-- details -->
                  <div class="details">
                    <!-- name & url -->
                    <a href="#" class="user_name d-inline-flex">Gary Dave</a>
                    <!-- job -->
                    <p class="user_job mb-0">Software Engineer</p>
                  </div>
                </div>
              </div>
              <!-- item -->
              <div class="item position-relative">
                <!-- text -->
                <p class="item_text mb-3">I am an expert in web development and design. So far in the last couple of months I couldn't ask for better! Services are on spot, uptime is on spot! I have everything I need right where it is with a API.</p>
                <!-- user info -->
                <div class="user_info d-flex align-items-center">
                  <!-- avatar -->
                  <img src="assets/images/media/02.jpg" class="item_avatar mr-1 img-fluid" alt="user">
                  <!-- details -->
                  <div class="details">
                    <!-- name & url -->
                    <a href="#" class="user_name d-inline-flex">Hugh Nigel</a>
                    <!-- job -->
                    <p class="user_job mb-0">Backend Developer</p>
                  </div>
                </div>
              </div>
            </div>
            <!-- slider dots -->
            <div class="slider_dots" id="se_vi_slider_dots"></div>
          </div>
        </div>
      </div>

      <!-- SECTION V - PRICING -->
      <div class="se_v" id="se_v">
        <div class="container">
          <!-- title -->
          <div class="se_title">
            <h5 class="mb-1">Get started with my services</h5>
            <h4 class="mb-3 text-uppercase">Choose a Plan</h4>
          </div>
          <!-- space -->
          <div class="space_sm"></div>
          <!-- content -->
          <div class="content">
            <!-- row -->
            <div class="row">
              <!-- col -->
              <div class="col-lg-4 col-md-6 mb-lg-0 mb-2">
                <!-- plan -->
                <div class="plan text-center">
                  <!-- plan name -->
                  <h6 class="name mb-1">Bronze</h6>
                  <!-- plan price -->
                  <div class="price mx-auto mb-4">
                    <span class="dollar_sign position-relative">$</span>
                    20.99
                    <span class="duration d-block">per month</span>
                  </div>
                  <!-- plan features -->
                  <ul class="features list-unstyled mb-5">
                    <li>Mobile App Design</li>
                    <li>Responsive Design</li>
                    <li>Database Development</li>
                    <li>Web Design</li>
                    <li>24/4 Support</li>
                  </ul>
                  <!-- plan action link -->
                  <a href="#" class="theme_btn_sh3 theme_btn_wide w-100">Buy Now</a>
                </div>
              </div>
              <!-- col -->
              <div class="col-lg-4 col-md-6 mb-lg-0 mb-2">
                <!-- plan -->
                <div class="plan text-center">
                  <!-- plan name -->
                  <h6 class="name mb-1">Gold</h6>
                  <!-- plan price -->
                  <div class="price mx-auto mb-4">
                    <span class="dollar_sign position-relative">$</span>
                    29.99
                    <span class="duration d-block">per month</span>
                  </div>
                  <!-- plan features -->
                  <ul class="features list-unstyled mb-5">
                    <li>Mobile App Design</li>
                    <li>Responsive Design</li>
                    <li>Database Development</li>
                    <li>Web Design</li>
                    <li>24/4 Support</li>
                  </ul>
                  <!-- plan action link -->
                  <a href="#" class="theme_btn_sh3 theme_btn_wide w-100">Buy Now</a>
                </div>
              </div>
              <!-- col -->
              <div class="col-lg-4 col-md-6">
                <!-- plan -->
                <div class="plan text-center">
                  <!-- plan name -->
                  <h6 class="name mb-1">Platinum</h6>
                  <!-- plan price -->
                  <div class="price mx-auto mb-4">
                    <span class="dollar_sign position-relative">$</span>
                    49.99
                    <span class="duration d-block">per month</span>
                  </div>
                  <!-- plan features -->
                  <ul class="features list-unstyled mb-5">
                    <li>Mobile App Design</li>
                    <li>Responsive Design</li>
                    <li>Database Development</li>
                    <li>Web Design</li>
                    <li>24/4 Support</li>
                  </ul>
                  <!-- plan action link -->
                  <a href="#" class="theme_btn_sh3 theme_btn_wide w-100">Buy Now</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- SECTION VI -->
    <div class="se_vi py_xl pb_lg" id="portfolio" data-parallax="scroll" data-image-src="./assets/images/bg/04.png" data-speed=".4">
      <div class="container">
        <!-- text -->
        <div class="text">
          <!-- title -->
          <div class="se_title text-center">
            <h3 class="mb-1">PORTFOLIO</h3>
            <h2 class="mb-lg-3 mb-0 text-uppercase">I believe in<br>passionate people.</h2>
          </div>
        </div>
        <!-- space -->
        <div class="space_lg"></div>
        <!-- gallery -->
        <div class="gallery">
          <!-- row -->
          <div class="row">
            <!-- col -->
            <div class="col-sm-6">
              <!-- box -->
              <div class="gallery_box lg_box mb-2 d-flex align-items-center justify-content-center" data-img-url="assets/images/media/05.png">
                <!-- scale button -->
                <button type="button" class="scale_btn d-inline-flex align-items-center justify-content-center">
                  <i class="fa fa-external-link"></i>
                </button>
                <!-- info -->
                <div class="info d-none">
                  <!-- title -->
                  <h5 class="title mb-2">First project</h5>
                  <!-- description -->
                  <p class="des mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est vero magni blanditiis, incidunt minima atque amet quas aspernatur reiciendis laudantium quasi omnis. Expedita, animi! Dolor necessitatibus itaque similique fugit nihil.</p>
                </div>
              </div>
            </div>
            <!-- col -->
            <div class="col-lg-3 col-sm-6">
              <!-- row -->
              <div class="row">
                <!-- col -->
                <div class="col-12">
                  <!-- box -->
                  <div class="gallery_box sm_box mb-2 d-flex align-items-center justify-content-center" data-img-url="assets/images/media/09.png">
                    <!-- scale button -->
                    <button type="button" class="scale_btn d-inline-flex align-items-center justify-content-center">
                      <i class="fa fa-external-link"></i>
                    </button>
                    <!-- info -->
                    <div class="info d-none">
                      <!-- title -->
                      <h5 class="title mb-2">Hello World!</h5>
                      <!-- description -->
                      <p class="des mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est vero magni blanditiis, incidunt minima atque amet quas aspernatur reiciendis laudantium quasi omnis. Expedita, animi! Dolor necessitatibus itaque similique fugit nihil.</p>
                    </div>
                  </div>
                </div>
                <!-- col -->
                <div class="col-12">
                  <!-- box -->
                  <div class="gallery_box sm_box mb-2 d-flex align-items-center justify-content-center" data-img-url="assets/images/media/06.png">
                    <!-- scale button -->
                    <button type="button" class="scale_btn d-inline-flex align-items-center justify-content-center">
                      <i class="fa fa-external-link"></i>
                    </button>
                    <!-- info -->
                    <div class="info d-none">
                      <!-- title -->
                      <h5 class="title mb-2">Hello World!</h5>
                      <!-- description -->
                      <p class="des mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est vero magni blanditiis, incidunt minima atque amet quas aspernatur reiciendis laudantium quasi omnis. Expedita, animi! Dolor necessitatibus itaque similique fugit nihil.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- col -->
            <div class="col-lg-3 col-sm-6">
              <!-- box -->
              <div class="gallery_box lg_box mb-2 d-flex align-items-center justify-content-center" data-img-url="assets/images/media/06.png">
                <!-- scale button -->
                <button type="button" class="scale_btn d-inline-flex align-items-center justify-content-center">
                  <i class="fa fa-external-link"></i>
                </button>
                <!-- info -->
                <div class="info d-none">
                  <!-- title -->
                  <h5 class="title mb-2">Hello World!</h5>
                  <!-- description -->
                  <p class="des mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est vero magni blanditiis, incidunt minima atque amet quas aspernatur reiciendis laudantium quasi omnis. Expedita, animi! Dolor necessitatibus itaque similique fugit nihil.</p>
                </div>
              </div>
            </div>
            <!-- col -->
            <div class="col-lg-3 col-sm-6">
              <!-- box -->
              <div class="gallery_box lg_box mb-2 d-flex align-items-center justify-content-center" data-img-url="assets/images/media/07.png">
                <!-- scale button -->
                <button type="button" class="scale_btn d-inline-flex align-items-center justify-content-center">
                  <i class="fa fa-external-link"></i>
                </button>
                <!-- info -->
                <div class="info d-none">
                  <!-- title -->
                  <h5 class="title mb-2">Hello World!</h5>
                  <!-- description -->
                  <p class="des mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est vero magni blanditiis, incidunt minima atque amet quas aspernatur reiciendis laudantium quasi omnis. Expedita, animi! Dolor necessitatibus itaque similique fugit nihil.</p>
                </div>
              </div>
            </div>
            <!-- col -->
            <div class="col-lg-3 col-sm-6">
              <!-- box -->
              <div class="gallery_box lg_box mb-2 d-flex align-items-center justify-content-center" data-img-url="assets/images/media/010.png">
                <!-- scale button -->
                <button type="button" class="scale_btn d-inline-flex align-items-center justify-content-center">
                  <i class="fa fa-external-link"></i>
                </button>
                <!-- info -->
                <div class="info d-none">
                  <!-- title -->
                  <h5 class="title mb-2">Hello World!</h5>
                  <!-- description -->
                  <p class="des mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est vero magni blanditiis, incidunt minima atque amet quas aspernatur reiciendis laudantium quasi omnis. Expedita, animi! Dolor necessitatibus itaque similique fugit nihil.</p>
                </div>
              </div>
            </div>
            <!-- col -->
            <div class="col-sm-6">
              <!-- box -->
              <div class="gallery_box lg_box mb-2 d-flex align-items-center justify-content-center" data-img-url="assets/images/media/08.png">
                <!-- scale button -->
                <button type="button" class="scale_btn d-inline-flex align-items-center justify-content-center">
                  <i class="fa fa-external-link"></i>
                </button>
                <!-- info -->
                <div class="info d-none">
                  <!-- title -->
                  <h5 class="title mb-2">Hello World!</h5>
                  <!-- description -->
                  <p class="des mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est vero magni blanditiis, incidunt minima atque amet quas aspernatur reiciendis laudantium quasi omnis. Expedita, animi! Dolor necessitatibus itaque similique fugit nihil.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- SECTION VII -->
    <div class="se_vii py_xl" id="resume">
      <div class="container">
        <!-- text -->
        <div class="text">
          <!-- title -->
          <div class="se_title text-center">
            <h3 class="mb-1">EXPERTISE</h3>
            <h2 class="mb-lg-3 mb-0 text-uppercase">Special Skils</h2>
          </div>
        </div>
        <!-- space -->
        <div class="space_lg"></div>
        <!-- row -->
        <div class="row">
          <!-- col -->
          <div class="col-xl-5 col-lg-6 mb-xl-0 mb-5">
            <!-- row -->
            <div class="row">
              <!-- col -->
              <div class="col-xl-4 col-lg-6 col-6 mb-2">
                <!-- item -->
                <div class="item item_1 d-flex align-items-center justify-content-center flex-column">
                  <img src="assets/images/media/wordpress.png" class="img-fluid" alt="wordpress">
                  <p class="mb-0 mt-1">96%</p>
                </div>
              </div>
              <!-- col -->
              <div class="col-xl-4 col-lg-6 col-6 mb-2">
                <!-- item -->
                <div class="item item_2 position-relative d-flex align-items-center justify-content-center flex-column">
                  <img src="assets/images/media/sketch.png" class="img-fluid" alt="sketch">
                  <p class="mb-0 mt-1">85%</p>
                </div>
              </div>
              <!-- col -->
              <div class="col-xl-4 col-lg-6 col-6 mb-2">
                <!-- item -->
                <div class="item item_3 position-relative d-flex align-items-center justify-content-center flex-column">
                  <img src="assets/images/media/java.png" class="img-fluid" alt="java">
                  <p class="mb-0 mt-1">81%</p>
                </div>
              </div>
              <!-- col -->
              <div class="col-xl-4 col-lg-6 col-6 mb-2">
                <!-- item -->
                <div class="item item_4 position-relative d-flex align-items-center justify-content-center flex-column">
                  <img src="assets/images/media/illustrator.png" class="img-fluid" alt="illustrator">
                  <p class="mb-0 mt-1">94%</p>
                </div>
              </div>
              <!-- col -->
              <div class="col-xl-4 col-lg-6 col-6 mb-2">
                <!-- item -->
                <div class="item item_5 position-relative d-flex align-items-center justify-content-center flex-column">
                  <img src="assets/images/media/html5.png" class="img-fluid" alt="html5">
                  <p class="mb-0 mt-1">91%</p>
                </div>
              </div>
              <!-- col -->
              <div class="col-xl-4 col-lg-6 col-6 mb-2">
                <!-- item -->
                <div class="item item_6 position-relative d-flex align-items-center justify-content-center flex-column">
                  <img src="assets/images/media/indesign.png" class="img-fluid" alt="indesign">
                  <p class="mb-0 mt-1">98%</p>
                </div>
              </div>
              <!-- col -->
              <div class="col-xl-4 col-lg-6 col-6">
                <!-- item -->
                <div class="item item_7 position-relative d-flex align-items-center justify-content-center flex-column">
                  <img src="assets/images/media/ae.png" class="img-fluid" alt="ae">
                  <p class="mb-0 mt-1">83%</p>
                </div>
              </div>
            </div>
          </div>
          <!-- col -->
          <div class="col-lg-6 ml-auto">
            <!-- timeline -->
            <div class="timeline text-lg-left text-center">
              <!-- row -->
              <div class="row">
                <!-- col -->
                <div class="col-lg-12 col-md-6 mb-4">
                  <!-- group -->
                  <div class="group d-xl-flex align-items-start justify-content-start">
                    <!-- year -->
                    <h6 class="year d-inline-block mb-xl-0 mb-1 mr-xl-3 mr-0 text-center">2020</h6>
                    <!-- jobs list -->
                    <div class="jobs_list">
                      <!-- job box -->
                      <div class="job_box">
                        <h4 class="title mb-0">UI/UX Web Designer</h4>
                        <p class="location mb-0 text-uppercase">ENVATO</p>
                      </div>
                    </div>
                  </div>
                  <!-- group -->
                  <div class="group d-xl-flex align-items-start justify-content-start">
                    <!-- year -->
                    <h6 class="year d-inline-block mb-xl-0 mb-1 mr-xl-3 mr-0 text-center">2019</h6>
                    <!-- jobs list -->
                    <div class="jobs_list">
                      <!-- job box -->
                      <div class="job_box">
                        <h4 class="title mb-0">IOS Developer</h4>
                        <p class="location mb-0 text-uppercase">AMAZON INC</p>
                      </div>
                      <!-- job box -->
                      <div class="job_box">
                        <h4 class="title mb-0">Senior WP Front-End Developer</h4>
                        <p class="location mb-0 text-uppercase">ThemeForest</p>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- col -->
                <div class="col-lg-12 col-md-6">
                  <!-- group -->
                  <div class="group d-xl-flex align-items-start justify-content-start">
                    <!-- year -->
                    <h6 class="year d-inline-block mb-xl-0 mb-1 mr-xl-3 mr-0 text-center">2018</h6>
                    <!-- jobs list -->
                    <div class="jobs_list">
                      <!-- job box -->
                      <div class="job_box">
                        <h4 class="title mb-0">Android Developer</h4>
                        <p class="location mb-0 text-uppercase">AMAZON INC</p>
                      </div>
                      <!-- job box -->
                      <div class="job_box">
                        <h4 class="title mb-0">Senior Product Designer</h4>
                        <p class="location mb-0 text-uppercase">ZARA</p>
                      </div>
                      <!-- job box -->
                      <div class="job_box">
                        <h4 class="title mb-0">Intership Python Programmer</h4>
                        <p class="location mb-0 text-uppercase">Microsoft</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- SECTION VIII -->
    <div class="se_viii pb_xl" id="contact">
      <div class="container">
        <!-- text -->
        <div class="text">
          <!-- title -->
          <div class="se_title text-center">
            <h3 class="mb-1">HIRE ME</h3>
            <h2 class="mb-lg-3 mb-0 text-uppercase">What want me to do</h2>
          </div>
        </div>
        <!-- space -->
        <div class="space_lg"></div>
        <!-- form -->
        <form action="#" method="post" class="contact_form" id="contact_form">
          <!-- row -->
          <div class="row justify-content-center">
            <!-- col -->
            <div class="col-lg-3 col-md-6">
              <!-- label -->
              <label for="rad_1" class="mb-2 d-flex align-items-center justify-content-center">
                <input type="radio" id="rad_1" name="radio_group" checked>
                <span class="d-flex align-items-center justify-content-center w-100 h-100"><i class="fab fa-check"></i>App Design</span>
              </label>
            </div>
            <!-- col -->
            <div class="col-lg-3 col-md-6">
              <!-- label -->
              <label for="rad_2" class="mb-2 d-flex align-items-center justify-content-center">
                <input type="radio" id="rad_2" name="radio_group">
                <span class="d-flex align-items-center justify-content-center w-100 h-100"><i class="fab fa-check"></i>Graphic Design</span>
              </label>
            </div>
            <!-- col -->
            <div class="col-lg-3 col-md-6">
              <!-- label -->
              <label for="rad_3" class="mb-2 d-flex align-items-center justify-content-center">
                <input type="radio" id="rad_3" name="radio_group">
                <span class="d-flex align-items-center justify-content-center w-100 h-100"><i class="fab fa-check"></i>Mothion Design</span>
              </label>
            </div>
            <!-- col -->
            <div class="col-12 d-lg-flex d-none"></div>
            <!-- col -->
            <div class="col-lg-3 col-md-6">
              <!-- label -->
              <label for="rad_4" class="mb-2 d-flex align-items-center justify-content-center">
                <input type="radio" id="rad_4" name="radio_group">
                <span class="d-flex align-items-center justify-content-center w-100 h-100"><i class="fab fa-check"></i>UX Design</span>
              </label>
            </div>
            <!-- col -->
            <div class="col-lg-3 col-md-6">
              <!-- label -->
              <label for="rad_5" class="mb-2 d-flex align-items-center justify-content-center">
                <input type="radio" id="rad_5" name="radio_group">
                <span class="d-flex align-items-center justify-content-center w-100 h-100"><i class="fab fa-check"></i>Web Design</span>
              </label>
            </div>
            <!-- col -->
            <div class="col-12 d-lg-flex d-none"></div>
            <!-- col -->
            <div class="col-lg-3 col-md-6">
              <!-- label -->
              <label for="rad_6" class="mb-0 d-flex align-items-center justify-content-center">
                <input type="radio" id="rad_6" name="radio_group">
                <span class="d-flex align-items-center justify-content-center w-100 h-100"><i class="fab fa-check"></i>Marketing</span>
              </label>
            </div>
          </div>
          <!-- space -->
          <div class="space_xl"></div>
          <!-- row -->
          <div class="row">
            <!-- col -->
            <div class="col-12 mb-3 text-center">
              <h3 class="title text-uppercase">About You</h3>
            </div>
            <!-- col -->
            <div class="col-md-6 mb-2">
              <label for="full_name" class="user_label w-100 mb-0">
                <input type="text" name="full_name" id="full_name" class="w-100" required autocomplete="off" placeholder="Full Name">
              </label>
            </div>
            <!-- col -->
            <div class="col-md-6 mb-2">
              <label for="email_address" class="user_label w-100 mb-0">
                <input type="text" name="email_address" id="email_address" class="w-100" required autocomplete="off" placeholder="Emaill Address">
              </label>
            </div>
            <!-- col -->
            <div class="col-md-6 mb-2">
              <label for="company_name" class="user_label w-100 mb-0">
                <input type="text" name="company_name" id="company_name" class="w-100" required autocomplete="off" placeholder="Company Name">
              </label>
            </div>
            <!-- col -->
            <div class="col-md-6 mb-4">
              <label for="position" class="user_label w-100 mb-0">
                <input type="text" name="position" id="position" class="w-100" required autocomplete="off" placeholder="Position">
              </label>
            </div>
            <!-- col -->
            <div class="col-12 text-md-left text-center">
              <!-- submit button -->
              <button type="submit" id="form_submit_btn" class="theme_btn_sh3 text-uppercase mr-md-2 mb-md-0 mb-2">send request</button>
              <!-- social list -->
              <ul class="social_list list-unstyled d-inline-flex align-items-center mb-0 align-middle mx-lg-0 mx-auto">
                <li class="mr-2"><a href="#" target="_blank" class="d-inline-flex align-items-center"><i class="fab fa-behance"></i></a></li>
                <li class="mr-2"><a href="#" target="_blank" class="d-inline-flex align-items-center"><i class="fab fa-dribbble"></i></a></li>
                <li class="mr-2"><a href="#" target="_blank" class="d-inline-flex align-items-center"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#" target="_blank" class="d-inline-flex align-items-center"><i class="fab fa-github"></i></a></li>
              </ul>
            </div>
          </div>
        </form>
      </div>
    </div>

  </main>

  <!-- NAVBAR -->
  <!-- overlay-navigation -->
  <div class='nav_layer w-100 h-100' id="navigation">
    <nav class="w-100 h-100">
      <ul class="list-unstyled w-100 h-100 mb-0 d-flex flex-lg-row flex-column">
        <li class="justify-content-center align-items-center" id='item_1'><a href='#home' class="d-block position-relative text-uppercase text-center" data-content='Discover'>Home</a></li>
        <li class="justify-content-center align-items-center" id='item_2'><a href='#about_me' class="d-block position-relative text-uppercase text-center" data-content='Discover'>About Me</a></li>
        <li class="justify-content-center align-items-center" id='item_3'><a href='#portfolio' class="d-block position-relative text-uppercase text-center" data-content='Discover'>Portfolio</a></li>
        <li class="justify-content-center align-items-center" id='item_4'><a href='#resume' class="d-block position-relative text-uppercase text-center" data-content='Discover'>Resume</a></li>
        <li class="justify-content-center align-items-center" id='item_5'><a href='#contact' class="d-block position-relative text-uppercase text-center" data-content='Discover'>Contact</a></li>
      </ul>
    </nav>
  </div>
  <!-- navbar humburger -->
  <div id='humburger' class="d-block">
    <div id='bar_1' class="d-block"></div>
    <div id='bar_2' class="d-block"></div>
    <div id='bar_3' class="d-block"></div>
  </div>
  <!-- GALLERY MODAL -->
  <div class="gallery_modal text-center" id="gallery_modal">
    <div class="container">
      <!-- box -->
      <div class="box mx-auto">
        <!-- title -->
        <h5 class="title mb-2"></h5>
        <!-- description -->
        <p class="des mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est vero magni blanditiis, incidunt minima atque amet quas aspernatur reiciendis laudantium quasi omnis. Expedita, animi! Dolor necessitatibus itaque similique fugit nihil.</p>
        <!-- image -->
        <img src="assets/images/media/06.png" class="img-fluid" alt="gallery Image">
      </div>
      <!-- dismiss button -->
      <button type="button" class="dismiss_btn d-inline-flex align-items-center justify-content-center mt-4" id="dismiss_btn">
        <i class="fab fa-times"></i>
      </button>
    </div>
  </div>

  <!-- COLOR BOX -->
  <div class="color_box" id="color_box">
    <div class="gear d-flex align-items-center justify-content-center">
      <i class="fa fa-gear"></i>
    </div>
    <!-- switch -->
    <div class="switch d-flex justify-content-between flex-wrap">
      <!-- item -->
      <div class="item d-inline-flex align-items-center justify-content-center mr-1" data-color="blue">
        <i class="fa fa-tint"></i>
      </div>
      <!-- item -->
      <div class="item d-inline-flex align-items-center justify-content-center mr-1" data-color="yellow">
        <i class="fa fa-tint"></i>
      </div>
      <!-- item -->
      <div class="item d-inline-flex align-items-center justify-content-center" data-color="green">
        <i class="fa fa-tint"></i>
      </div>
    </div>
  </div>



 </body>
 
</html>